body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main-wrapper {
  margin: 0 100px;
}
.margin-100 {
  margin: 100px 0;
}
.cursor-pointer {
  cursor: pointer;
}

@media only screen and (max-device-width: 768px), only screen and (max-width: 768px) {
  .padding-left10 {
    padding-left: 10px;
  }
  .main-wrapper {
    margin: 0;
  }
  .margin-100 {
    margin: 10px 0;
  }
  table thead {
    display: none;
  }
  table td {
    display: flex;
  }
  table td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
  .table-striped tbody tr {
    background-color: rgba(0,0,0,.05);
    border-bottom: 8px solid white;
  }
}